---
# https://raw.githubusercontent.com/cilium/cilium/main/install/kubernetes/cilium/values.yaml
# yaml-language-server: $schema=https://raw.githubusercontent.com/cilium/cilium/main/install/kubernetes/cilium/values.schema.json
autoDirectNodeRoutes: true
ipv4NativeRoutingCIDR: ${cluster_pod_subnet}
bandwidthManager:
  bbr: true
  enabled: true
bgpControlPlane:
  enabled: true
ipam:
  mode: kubernetes
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
cni:
  exclusive: false  # to run multus
cluster:
  id: 1
  name: ${cluster_name}
kubeProxyReplacement: true
enableIPv4BIGTCP: true
endpointRoutes:
  enabled: false
envoy:
  enabled: false
externalIPs:
  enabled: false
gatewayAPI:
  enabled: false
hubble:
  enabled: true
  dropEventEmitter:
    enabled: true
  relay:
    enabled: true
  ui:
    enabled: true
l2announcements:
  enabled: true
loadBalancer:
  acceleration: best-effort
  algorithm: maglev
  mode: dsr
socketLB:
  hostNamespaceOnly: true
operator:
  rollOutPods: true
  replicas: 1
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  dashboards:
    enabled: true
    annotations:
      grafana_folder: Network
prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true
k8sServiceHost: 127.0.0.1
k8sServicePort: 7445
rollOutCiliumPods: true
routingMode: native
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - PERFMON
      - BPF
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
