---
# https://github.com/external-secrets/external-secrets/blob/main/deploy/charts/external-secrets/values.yaml
# yaml-language-server: $schema=https://github.com/external-secrets/external-secrets/blob/main/deploy/charts/external-secrets/values.schema.json
installCRDs: true
serviceMonitor:
  enabled: true
  interval: 1m
webhook:
  serviceMonitor:
    enabled: true
    interval: 1m
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
certController:
  serviceMonitor:
    enabled: true
    interval: 1m
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
resources:
  requests:
    cpu: 10m
    memory: 100Mi
