---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/values.schema.json
# https://github.com/bjw-s/helm-charts/tree/main/charts/other/app-template
controllers:
  kromgo:
    type: deployment
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"

    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    containers:
      app:
        image:
          repository: ghcr.io/kashalls/kromgo
          tag: 0.4.4
        env:
          TZ: UTC
          PROMETHEUS_URL: http://prometheus-operated.monitoring.svc.cluster.local:9090
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: [ALL]
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            memory: 128Mi
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /readyz
                port: 8080
              initialDelaySeconds: 5
              periodSeconds: 30
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /readyz
                port: 8080
              initialDelaySeconds: 5
              periodSeconds: 10

service:
  app:
    controller: kromgo
    ports:
      http:
        port: 8080

persistence:
  config:
    enabled: true
    type: configMap
    name: kromgo-config
    globalMounts:
      - path: /kromgo/config.yaml
        subPath: config.yaml
        readOnly: true
