---
# https://github.com/spegel-org/spegel/blob/main/charts/spegel/values.yaml
spegel:
  containerdSock: /run/containerd/containerd.sock
  containerdRegistryConfigPath: /etc/cri/conf.d/hosts

service:
  registry:
    hostPort: 29999

serviceMonitor:
  enabled: true

grafanaDashboard:
  enabled: true
