---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-resources
  namespace: flux-system
spec:
  dependsOn:
    - name: platform
  interval: 10m
  path: kubernetes/clusters/live/resourcesets
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-vars
        optional: false
      - kind: ConfigMap
        name: platform-versions
        optional: false
  prune: true
  sourceRef:
    kind: OCIRepository
    name: flux-system
    namespace: flux-system
