---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - platform.yaml
  - config.yaml
  - helm-charts.yaml
configMapGenerator:
  - name: cluster-vars
    options:
      disableNameSuffixHash: true
    namespace: flux-system
    behavior: create
    envs:
      - .cluster-vars.env
  - name: cluster-values
    options:
      disableNameSuffixHash: true
    namespace: flux-system
    behavior: create
    files:
      - zipline.yaml=charts/zipline.yaml
