---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: platform
  namespace: flux-system
spec:
  interval: 10m
  path: kubernetes/platform/flux
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-vars
        optional: false
  prune: true
  sourceRef:
    kind: OCIRepository
    name: flux-system
    namespace: flux-system
