---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - zipline
  - immich
  # authelia-prereqs and authelia are managed by their own Flux Kustomizations in config.yaml
