# Configures the Talos installation on the machine
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.machine.install
---
machine:
  install:
    disk: ${machine_install_disk}
    image: ${machine_install_disk_image}
