---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - secret.yaml
  - cnpg-superuser-replica.yaml
  - zipline-db-credentials.yaml
  - garage-bucket.yaml
  - garage-key.yaml
  - external-route.yaml
