---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-config
  namespace: flux-system
spec:
  dependsOn:
    - name: platform
  interval: 10m
  path: kubernetes/clusters/${cluster_name}/config
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-vars
        optional: false
      - kind: ConfigMap
        name: versions
        optional: true
  prune: true
  sourceRef:
    kind: OCIRepository
    name: flux-system
    namespace: flux-system
