---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - platform.yaml
configMapGenerator:
  - name: cluster-vars
    options:
      disableNameSuffixHash: true
    namespace: flux-system
    behavior: create
    envs:
      - .cluster-vars.env
  - name: versions
    options:
      disableNameSuffixHash: true
    namespace: flux-system
    behavior: create
    envs:
      - .versions.env
