---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - self-signed-issuer.yaml
  - root-ca-certificate.yaml
  - ca-issuer.yaml
