initContainers:
  01-init-db:
    image: ghcr.io/onedr0p/postgres-init:14.8
    imagePullPolicy: IfNotPresent
    env:
      INIT_POSTGRES_DBNAME: "prowlarr_main prowlarr_log"
      INIT_POSTGRES_HOST: ${CLUSTER_POSTGRES_HOST}
      INIT_POSTGRES_USER:
        valueFrom:
          secretKeyRef:
            name: prowlarr-secret
            key: username
      INIT_POSTGRES_PASS:
        valueFrom:
          secretKeyRef:
            name: prowlarr-secret
            key: password
      INIT_POSTGRES_SUPER_USER:
        valueFrom:
          secretKeyRef:
            name: prowlarr-postgres-superuser
            key: username
      INIT_POSTGRES_SUPER_PASS:
        valueFrom:
          secretKeyRef:
            name: prowlarr-postgres-superuser
            key: password
env:
  TZ: ${TZ}
  PROWLARR__INSTANCE_NAME: Prowlarr
  PROWLARR__PORT: 80
  PROWLARR__LOG_LEVEL: info
  PROWLARR__POSTGRES_HOST: ${CLUSTER_POSTGRES_HOST}
  PROWLARR__POSTGRES_PORT: 5432
  PROWLARR__POSTGRES_MAIN_DB: prowlarr_main
  PROWLARR__POSTGRES_LOG_DB: prowlarr_log
  PROWLARR__POSTGRES_USER:
    valueFrom:
      secretKeyRef:
        name: prowlarr-secret
        key: username
  PROWLARR__POSTGRES_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: prowlarr-secret
        key: password
  PROWLARR__API_KEY:
    valueFrom:
      secretKeyRef:
        name: prowlarr-secret
        key: key
service:
  main:
    ports:
      http:
        port: 80
ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: "nginx"
      cert-manager.io/cluster-issuer: "cloudflare"
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Prowlarr is an indexer manager/proxy built on the popular *arr .net/reactjs base stack to integrate with your various PVR apps.
      gethomepage.dev/group: Media
      gethomepage.dev/icon: prowlarr.png
      gethomepage.dev/name: prowlarr
      gethomepage.dev/widget.type: prowlarr
      gethomepage.dev/widget.url: http://prowlarr.media.svc.cluster.local:80
    hosts:
      - host: prowlarr.${INTERNAL_DOMAIN}
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - prowlarr.${INTERNAL_DOMAIN}
        secretName: prowlarr-tls
podSecurityContext:
  runAsUser: 568
  runAsGroup: 568
  fsGroup: 568
  fsGroupChangePolicy: OnRootMismatch
persistence:
  config:
    enabled: true
    retain: true
    storageClass: ${STORAGE_CLASS_SLOW_BKACUP}
    size: 10Gi
    accessMode: ReadWriteOnce
    mountPath: /config
resources:
  requests:
    cpu: 10m
    memory: 100Mi
