---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - default-deny.yaml
  - profile-isolated.yaml
  - profile-internal.yaml
  - profile-standard.yaml
  - profile-internal-egress.yaml
