---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - lldap-secrets.yaml
  - oidc-certificate.yaml
  - namespace-labels.yaml
