---
apiVersion: v1
kind: Namespace
metadata:
  name: immich
  labels:
    istio.io/dataplane-mode: ambient
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/enforce-version: latest
    pod-security.kubernetes.io/audit: baseline
    pod-security.kubernetes.io/warn: baseline
    network-policy.homelab/profile: standard
    access.network-policy.homelab/postgres: "true"
    access.network-policy.homelab/dragonfly: "true"
