---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - configmap.yaml
  - internal-route.yaml
  - external-route.yaml
  - external-canary.yaml
  - network-policy.yaml
