%{ for idx, interface in interfaces ~}
%{ for vlan in lookup(interface, "vlans", []) ~}
---
apiVersion: v1alpha1
kind: VLANConfig
name: net${idx}.${vlan.vlanId}
parent: net${idx}
up: true
mtu: ${lookup(vlan, "mtu", 1500)}
addresses:
%{ for address in vlan.addresses ~}
  - address: ${address.ip}/${lookup(address, "cidr", "24")}
%{ endfor ~}
%{ endfor ~}
%{ endfor ~}
