---
apiVersion: v1
kind: ConfigMap
metadata:
  name: garage-config
data:
  garage.toml: |
    metadata_dir = "/var/lib/garage/meta"
    data_dir = "/var/lib/garage/data"
    db_engine = "lmdb"
    metadata_auto_snapshot_interval = "6h"

    replication_factor = ${default_replica_count}

    [rpc]
    bind_addr = "[::]:3901"
    # RPC secret injected via GARAGE_RPC_SECRET env var

    [s3_api]
    s3_region = "garage"
    api_bind_addr = "[::]:3900"
    root_domain = ".s3.${internal_domain}"

    [s3_web]
    bind_addr = "[::]:3902"
    root_domain = ".web.${internal_domain}"

    [admin]
    api_bind_addr = "[::]:3903"
    metrics_token = ""
