---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - access-dragonfly.yaml
  - access-garage-s3.yaml
  - access-postgres.yaml
