---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: platform-resources
  namespace: flux-system
spec:
  dependsOn:
    - name: platform-config
  interval: 10m
  path: kubernetes/platform
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-vars
        optional: false
      - kind: ConfigMap
        name: platform-versions
        optional: false
  prune: true
  sourceRef:
    kind: ${source_kind}
    name: flux-system
    namespace: flux-system
