apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: platform-resources
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcile: "enabled"
    fluxcd.controlplane.io/reconcileEvery: "30m"
    fluxcd.controlplane.io/reconcileTimeout: "10m"
spec:
  dependsOn:
    - apiVersion: fluxcd.controlplane.io/v1
      kind: ResourceSet
      name: platform-namespaces
      namespace: flux-system
  inputs:
    - name: "cert-manager"
      namespace: "cert-manager"
      chart:
        name: "cert-manager"
        version: "1.17.1"
        url: "https://charts.jetstack.io"
      dependsOn: [cilium]
    - name: "external-secrets"
      namespace: "external-secrets"
      chart:
        name: "external-secrets"
        version: "0.13.0"
        url: "https://charts.external-secrets.io"
      dependsOn: [cilium]
    - name: "cilium"
      namespace: "kube-system"
      chart:
        name: "cilium"
        version: "1.16.5"
        url: "https://helm.cilium.io/"
      dependsOn: []
    - name: "descheduler"
      namespace: "kube-system"
      chart:
        name: "descheduler"
        version: "0.32.1"
        url: "https://kubernetes-sigs.github.io/descheduler"
      dependsOn: [cilium]
    - name: longhorn
      namespace: longhorn-system
      chart:
        name: longhorn
        version: v1.8.0
        url: https://charts.longhorn.io
      dependsOn: [cilium]
    - name: "reloader"
      namespace: "system"
      chart:
        name: "reloader"
        version: "v1.2.1"
        url: "https://stakater.github.io/stakater-charts"
      dependsOn: []
    - name: "replicator"
      namespace: "system"
      chart:
        name: "kubernetes-replicator"
        version: "2.11.0"
        url: "https://helm.mittwald.de"
      dependsOn: []
    - name: "secret-generator"
      namespace: "system"
      chart:
        name: "kubernetes-secret-generator"
        version: "3.4.0"
        url: "https://helm.mittwald.de"
      dependsOn: []
    - name: "canary-checker"
      namespace: "monitoring"
      chart:
        name: "canary-checker"
        version: "1.1.1"
        url: "https://flanksource.github.io/charts"
      dependsOn: [cilium, kube-prometheus-stack]
    - name: kube-prometheus-stack
      namespace: monitoring
      chart:
        name: kube-prometheus-stack
        version: 72.3.1
        url: https://prometheus-community.github.io/helm-charts
      dependsOn: [longhorn, kube-prometheus-stack-crds, external-secrets]
    - name: "grafana-loki-single-binary"
      namespace: "monitoring"
      chart:
        name: "loki"
        version: "6.25.0"
        url: "https://grafana.github.io/helm-charts"
      dependsOn: [cilium, longhorn]
    - name: promtail
      namespace: monitoring
      chart:
        name: promtail
        version: 6.16.6
        url: https://grafana.github.io/helm-charts
      dependsOn: [grafana-loki-single-binary]
    - name: grafana
      namespace: monitoring
      chart:
        name: grafana
        version: 8.8.5
        url: https://grafana.github.io/helm-charts
      dependsOn: [kube-prometheus-stack, promtail]
    - name: "kube-prometheus-stack-crds"
      namespace: "monitoring"
      chart:
        name: "prometheus-operator-crds"
        version: "20.0.0"
        url: "https://prometheus-community.github.io/helm-charts"
      dependsOn: []
  resourcesTemplate: |
    ---
    apiVersion: source.toolkit.fluxcd.io/v1
    kind: HelmRepository
    metadata:
      name: << inputs.name >>
      namespace: << inputs.provider.namespace >>
    spec:
      interval: 10m
      url: << inputs.chart.url >>
    ---
    apiVersion: helm.toolkit.fluxcd.io/v2
    kind: HelmRelease
    metadata:
      name: << inputs.name >>
      namespace: << inputs.provider.namespace >>
    spec:
      <<- if inputs.dependsOn >>
      dependsOn:
      <<- range $dep := inputs.dependsOn >>
        - name: << $dep >>
      <<- end >>
      <<- end >>
      chart:
        spec:
          chart: << inputs.chart.name >>
          version: << inputs.chart.version >>
          interval: 10m
          sourceRef:
            kind: HelmRepository
            name: << inputs.name >>
      install:
        createNamespace: false
        remediation:
          retries: 3
      interval: 10m
      maxHistory: 3
      releaseName: << inputs.name >>
      targetNamespace: << inputs.namespace >>
      uninstall:
        keepHistory: false
      upgrade:
        crds: CreateReplace
        remediation:
          retries: 3
      valuesFrom:
        - kind: ConfigMap
          name: platform-values
          valuesKey: << inputs.name >>.yaml
