apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: platform-resources
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcile: "enabled"
    fluxcd.controlplane.io/reconcileEvery: "30m"
    fluxcd.controlplane.io/reconcileTimeout: "10m"
spec:
  dependsOn:
    - apiVersion: fluxcd.controlplane.io/v1
      kind: ResourceSet
      name: platform-namespaces
      namespace: flux-system
  inputs:
    - name: "cert-manager"
      namespace: "cert-manager"
      chart:
        name: "cert-manager"
        version: "${cert_manager_version}"
        url: "https://charts.jetstack.io"
      dependsOn: [cilium]
    - name: "external-secrets"
      namespace: "external-secrets"
      chart:
        name: "external-secrets"
        version: "${external_secrets_version}"
        url: "https://charts.external-secrets.io"
      dependsOn: [cilium]
    - name: "cilium"
      namespace: "kube-system"
      chart:
        name: "cilium"
        version: "${cilium_version}"
        url: "https://helm.cilium.io/"
      dependsOn: []
    - name: "descheduler"
      namespace: "kube-system"
      chart:
        name: "descheduler"
        version: "${descheduler_version}"
        url: "https://kubernetes-sigs.github.io/descheduler"
      dependsOn: [cilium]
    - name: longhorn
      namespace: longhorn-system
      chart:
        name: longhorn
        version: "${longhorn_version}"
        url: https://charts.longhorn.io
      dependsOn: [cilium]
    - name: "reloader"
      namespace: "system"
      chart:
        name: "reloader"
        version: "${reloader_version}"
        url: "https://stakater.github.io/stakater-charts"
      dependsOn: []
    - name: "replicator"
      namespace: "system"
      chart:
        name: "kubernetes-replicator"
        version: "${replicator_version}"
        url: "https://helm.mittwald.de"
      dependsOn: []
    - name: "secret-generator"
      namespace: "system"
      chart:
        name: "kubernetes-secret-generator"
        version: "${secret_generator_version}"
        url: "https://helm.mittwald.de"
      dependsOn: []
    - name: "canary-checker"
      namespace: "monitoring"
      chart:
        name: "canary-checker"
        version: "${canary_checker_version}"
        url: "https://flanksource.github.io/charts"
      dependsOn: [cilium, kube-prometheus-stack]
    - name: kube-prometheus-stack
      namespace: monitoring
      chart:
        name: kube-prometheus-stack
        version: "${kube_prometheus_stack_version}"
        url: https://prometheus-community.github.io/helm-charts
      dependsOn: [longhorn, kube-prometheus-stack-crds, external-secrets]
    - name: "grafana-loki-single-binary"
      namespace: "monitoring"
      chart:
        name: "loki"
        version: "${loki_version}"
        url: "https://grafana.github.io/helm-charts"
      dependsOn: [cilium, longhorn]
    - name: alloy
      namespace: monitoring
      chart:
        name: alloy
        version: "${alloy_version}"
        url: https://grafana.github.io/helm-charts
      dependsOn: [grafana-loki-single-binary]
    - name: grafana
      namespace: monitoring
      chart:
        name: grafana
        version: "${grafana_version}"
        url: https://grafana.github.io/helm-charts
      dependsOn: [kube-prometheus-stack, alloy]
    - name: "kube-prometheus-stack-crds"
      namespace: "monitoring"
      chart:
        name: "prometheus-operator-crds"
        version: "${prometheus_version}"
        url: "https://prometheus-community.github.io/helm-charts"
      dependsOn: []
    - name: "istio-csr"
      namespace: "cert-manager"
      chart:
        name: "cert-manager-istio-csr"
        version: "${istio_csr_version}"
        url: "https://charts.jetstack.io"
      dependsOn: [cert-manager]
    - name: "istio-base"
      namespace: "istio-system"
      chart:
        name: "base"
        version: "${istio_version}"
        url: "https://istio-release.storage.googleapis.com/charts"
      dependsOn: [cilium]
    - name: "istiod"
      namespace: "istio-system"
      chart:
        name: "istiod"
        version: "${istio_version}"
        url: "https://istio-release.storage.googleapis.com/charts"
      dependsOn: [istio-base, istio-csr]
    - name: istio-cni
      namespace: istio-system
      chart:
        name: cni
        version: "${istio_version}"
        url: https://istio-release.storage.googleapis.com/charts
      dependsOn: [istio-base, istiod]
    - name: istio-ztunnel
      namespace: istio-system
      chart:
        name: ztunnel
        version: "${istio_version}"
        url: https://istio-release.storage.googleapis.com/charts
      dependsOn: [istio-base, istiod, istio-cni]
    - name: garage-operator
      namespace: garage
      chart:
        name: garage-operator
        version: "${garage_operator_version}"
        url: oci://ghcr.io/rajsinghtech/charts
      dependsOn: [cilium]
    - name: cloudnative-pg
      namespace: database
      chart:
        name: cloudnative-pg
        version: "${cloudnative_pg_version}"
        url: https://cloudnative-pg.github.io/charts
      dependsOn: [cilium, longhorn, kube-prometheus-stack-crds, secret-generator]
    - name: dragonfly-operator
      namespace: database
      chart:
        name: dragonfly-operator
        version: "${dragonfly_operator_version}"
        url: oci://ghcr.io/dragonflydb/dragonfly-operator/helm
      dependsOn: [cilium, kube-prometheus-stack-crds, secret-generator]
    - name: kromgo
      namespace: kromgo
      chart:
        name: app-template
        version: "${app_template_version}"
        url: oci://ghcr.io/bjw-s/helm
      dependsOn: [kube-prometheus-stack]
    - name: spegel
      namespace: spegel
      chart:
        name: spegel
        version: "${spegel_version}"
        url: oci://ghcr.io/spegel-org/helm-charts
      dependsOn: [cilium]
    - name: tuppr
      namespace: system-upgrade
      chart:
        name: tuppr
        version: "${tuppr_version}"
        url: oci://ghcr.io/home-operations/charts
      dependsOn: [cilium, kube-prometheus-stack-crds]
    - name: silence-operator
      namespace: monitoring
      chart:
        name: silence-operator
        version: "${silence_operator_version}"
        url: oci://gsoci.azurecr.io/charts/giantswarm
      dependsOn: [kube-prometheus-stack]
    - name: factorio
      namespace: factorio
      chart:
        name: factorio-server-charts
        version: "${factorio_version}"
        url: https://sqljames.github.io/factorio-server-charts
      dependsOn: [cilium, longhorn]
  resourcesTemplate: |
    ---
    apiVersion: source.toolkit.fluxcd.io/v1
    kind: HelmRepository
    metadata:
      name: << inputs.name >>
      namespace: << inputs.provider.namespace >>
    spec:
      interval: 10m
      <<- if hasPrefix "oci://" inputs.chart.url >>
      type: oci
      <<- end >>
      url: << inputs.chart.url >>
    ---
    apiVersion: helm.toolkit.fluxcd.io/v2
    kind: HelmRelease
    metadata:
      name: << inputs.name >>
      namespace: << inputs.provider.namespace >>
    spec:
      <<- if inputs.dependsOn >>
      dependsOn:
      <<- range $dep := inputs.dependsOn >>
        - name: << $dep >>
      <<- end >>
      <<- end >>
      chart:
        spec:
          chart: << inputs.chart.name >>
          version: << inputs.chart.version >>
          interval: 10m
          sourceRef:
            kind: HelmRepository
            name: << inputs.name >>
      install:
        createNamespace: false
        remediation:
          retries: 3
        timeout: 10m
      interval: 10m
      maxHistory: 3
      releaseName: << inputs.name >>
      targetNamespace: << inputs.namespace >>
      uninstall:
        keepHistory: false
      upgrade:
        crds: CreateReplace
        remediation:
          retries: 3
        timeout: 10m
      valuesFrom:
        - kind: ConfigMap
          name: platform-values
          valuesKey: << inputs.name >>.yaml
    ---
    # Wrapper Kustomization enables config Kustomizations to dependsOn this HelmRelease
    apiVersion: kustomize.toolkit.fluxcd.io/v1
    kind: Kustomization
    metadata:
      name: << inputs.name >>
      namespace: << inputs.provider.namespace >>
    spec:
      <<- if inputs.dependsOn >>
      dependsOn:
      <<- range $dep := inputs.dependsOn >>
        - name: << $dep >>
      <<- end >>
      <<- end >>
      interval: 10m
      path: kubernetes/platform/stubs/empty
      prune: false
      sourceRef:
        kind: ${source_kind}
        name: flux-system
      healthChecks:
        - apiVersion: helm.toolkit.fluxcd.io/v2
          kind: HelmRelease
          name: << inputs.name >>
          namespace: << inputs.provider.namespace >>
