---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - namespaces.yaml
  - helm-charts.yaml
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - name: platform-values
    files:
      - canary-checker.yaml=values/canary-checker.yaml
      - cert-manager.yaml=values/cert-manager.yaml
      - cilium.yaml=values/cilium.yaml
      - descheduler.yaml=values/descheduler.yaml
      - external-secrets.yaml=values/external-secrets.yaml
      - grafana-loki-single-binary.yaml=values/grafana-loki-single-binary.yaml
      - grafana.yaml=values/grafana.yaml
      - kube-prometheus-stack-crds.yaml=values/kube-prometheus-stack-crds.yaml
      - kube-prometheus-stack.yaml=values/kube-prometheus-stack.yaml
      - longhorn.yaml=values/longhorn.yaml
      - promtail.yaml=values/promtail.yaml
      - reloader.yaml=values/reloader.yaml
      - replicator.yaml=values/replicator.yaml
      - secret-generator.yaml=values/secret-generator.yaml
