---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - config.yaml
  - namespaces.yaml
  - helm-charts.yaml
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - name: platform-values
    files:
      - canary-checker.yaml=charts/canary-checker.yaml
      - cert-manager.yaml=charts/cert-manager.yaml
      - cilium.yaml=charts/cilium.yaml
      - descheduler.yaml=charts/descheduler.yaml
      - external-secrets.yaml=charts/external-secrets.yaml
      - grafana-loki-single-binary.yaml=charts/grafana-loki-single-binary.yaml
      - grafana.yaml=charts/grafana.yaml
      - istio-base.yaml=charts/istio-base.yaml
      - istio-cni.yaml=charts/istio-cni.yaml
      - istio-gateway.yaml=charts/istio-gateway.yaml
      - istio-ztunnel.yaml=charts/istio-ztunnel.yaml
      - istiod.yaml=charts/istiod.yaml
      - kube-prometheus-stack-crds.yaml=charts/kube-prometheus-stack-crds.yaml
      - kube-prometheus-stack.yaml=charts/kube-prometheus-stack.yaml
      - longhorn.yaml=charts/longhorn.yaml
      - promtail.yaml=charts/promtail.yaml
      - reloader.yaml=charts/reloader.yaml
      - replicator.yaml=charts/replicator.yaml
      - secret-generator.yaml=charts/secret-generator.yaml
