---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - config.yaml
  - namespaces.yaml
  - helm-charts.yaml
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - name: platform-values
    files:
      - canary-checker.yaml=charts/canary-checker.yaml
      - cert-manager.yaml=charts/cert-manager.yaml
      - cilium.yaml=charts/cilium.yaml
      - cloudnative-pg.yaml=charts/cloudnative-pg.yaml
      - dragonfly-operator.yaml=charts/dragonfly-operator.yaml
      - descheduler.yaml=charts/descheduler.yaml
      - external-secrets.yaml=charts/external-secrets.yaml
      - garage-operator.yaml=charts/garage-operator.yaml
      - grafana-loki-single-binary.yaml=charts/grafana-loki-single-binary.yaml
      - grafana.yaml=charts/grafana.yaml
      - istio-base.yaml=charts/istio-base.yaml
      - istio-cni.yaml=charts/istio-cni.yaml
      - istio-csr.yaml=charts/istio-csr.yaml
      - istio-ztunnel.yaml=charts/istio-ztunnel.yaml
      - istiod.yaml=charts/istiod.yaml
      - kube-prometheus-stack-crds.yaml=charts/kube-prometheus-stack-crds.yaml
      - kube-prometheus-stack.yaml=charts/kube-prometheus-stack.yaml
      - longhorn.yaml=charts/longhorn.yaml
      - alloy.yaml=charts/alloy.yaml
      - reloader.yaml=charts/reloader.yaml
      - replicator.yaml=charts/replicator.yaml
      - secret-generator.yaml=charts/secret-generator.yaml
      - immich.yaml=charts/immich.yaml
      - kromgo.yaml=charts/kromgo.yaml
      - silence-operator.yaml=charts/silence-operator.yaml
      - spegel.yaml=charts/spegel.yaml
      - tuppr.yaml=charts/tuppr.yaml
