---
apiVersion: tuppr.home-operations.com/v1alpha1
kind: TalosUpgrade
metadata:
  name: talos
spec:
  talos:
    version: ${talos_version}
  rebootMode: default
  healthChecks:
    - name: all-nodes-ready
      timeout: 10m
      expression: |
        nodes.items.all(n, n.status.conditions.exists(c,
          c.type == 'Ready' && c.status == 'True'))
