---
apiVersion: tuppr.home-operations.com/v1alpha1
kind: TalosUpgrade
metadata:
  name: talos
spec:
  talos:
    version: ${talos_version}
  policy:
    rebootMode: default
    timeout: 30m
  healthChecks:
    - apiVersion: v1
      kind: Node
      description: All nodes must be Ready
      expr: |
        object.status.conditions.exists(c,
          c.type == 'Ready' && c.status == 'True')
      timeout: 10m
