---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/cilium.io/ciliumbgppeerconfig_v2.json
apiVersion: cilium.io/v2
kind: CiliumBGPPeerConfig
metadata:
  name: unifi-router
spec:
  # Aggressive timers for fast failover (~9s detection)
  # IMPORTANT: FRR router must be configured with matching timers:
  #   neighbor <peer> timers 3 9
  timers:
    holdTimeSeconds: 9
    keepAliveTimeSeconds: 3
    connectRetryTimeSeconds: 5
  # Graceful restart prevents traffic disruption during Cilium agent restarts
  gracefulRestart:
    enabled: true
    restartTimeSeconds: 120
  # eBGP requires TTL=1 for directly connected peers
  ebgpMultihop: 1
  # Address families and advertisement selection
  families:
    - afi: ipv4
      safi: unicast
      advertisements:
        matchLabels:
          advertise: bgp
  # Transport settings - use standard BGP port
  transport:
    peerPort: 179
