---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Kubernetes Validate

on:
  pull_request:
    paths:
      - "kubernetes/**"
      - ".github/workflows/kubernetes-validate.yaml"
      - ".yamllint.yaml"
      - ".taskfiles/kubernetes/**"
      - ".mise.toml"
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup tools
        uses: jdx/mise-action@v3

      - name: Validate Kubernetes manifests and Helm charts
        run: task k8s:validate
