---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Kubernetes Validate

on:
  pull_request:
    paths:
      - "kubernetes/**"
      - ".github/workflows/kubernetes-validate.yaml"
      - ".yamllint.yaml"
      - ".taskfiles/kubernetes/**"
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x

      - name: Install yamllint
        run: pip install yamllint

      - name: Setup validation tools
        uses: ./.github/actions/setup-validation-tools

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.16.0

      - name: Validate Kubernetes manifests and Helm charts
        run: task k8s:validate
