name: Label Sync

on:
  push:
    branches: [main]
    paths: [.github/labels.yaml]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: EndBug/label-sync@v2
        with:
          config-file: .github/labels.yaml
          delete-other-labels: false
