---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test Infrastructure Modules
on:
  pull_request:
    branches:
      - main
    paths:
      - infrastructure/modules/**
      - .github/workflows/test-infrastructure-modules.yaml

jobs:
  test-modules:
    runs-on: homelab-runner-staging-runner-app
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install task
        uses: arduino/setup-task@v2

      - name: Install tofuenv
        shell: bash
        run: brew install tofuenv

      - name: Setup OpenTofu
        shell: bash
        run: |
          tofuenv install
          tofuenv use

      - name: Run module tests
        shell: bash
        env:
          TF_IN_AUTOMATION: 1
        run: task tg:test
