---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Validate Renovate Config

on:
  pull_request:
    paths:
      - '.github/renovate.json5'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Validate Renovate Config
        run: npx --yes --package renovate@41 -- renovate-config-validator --strict
